{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react-refresh"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
  ],
  "ignorePatterns": [
    "*.svg",
    "*.css",
    "@types",
  ],
  "rules": {
    "react-refresh/only-export-components": "warn",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always",
      {
        "omitLastInOneLineBlock": true
      }
    ],
    "comma-dangle": [
      "off",
      "always-multiline"
    ],
    "space-before-function-paren": [
      "error",
      "always"
    ],
    "no-var": "error",
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "key-spacing": [
      "error",
      {
        "align": "colon"
      }
    ],
    "no-constant-condition": 0,
    "no-trailing-spaces": [
      2,
      {
        "skipBlankLines": false
      }
    ],
  }
}